.search-bar {
  background-color: rgb(247, 234, 65);
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 164, 7);
}
.card-list {
  margin: 2px;
  width: 25%;
}
